django
django-cors-headers
django-webpack-loader
djangorestframework
websockets
channels
channels_redis
psycopg2-binary
coverage
pytest-django
pytest-asyncio
pytest-cov
channelsmultiplexer
pip-tools
coreapi
pyyaml
channelsmultiplexer
djangochannelsrestframework

