{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>Django Boilerplate</title>
    {% load static %}
    <link href="{% static "vendor/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{%  static 'css/main.css' %}" rel="stylesheet">
  </head>

  <body>
    <div id="react-app"></div>
    {% render_bundle 'main' %}
    <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
  </body>
</html>